@model FrontPageDto
@{
    ViewData["Title"] = "Home Page";
    if (Model.UserHomeDto.RoleId == 1)
    {
        Layout = "_Layout";
    }
    else if (Model.UserHomeDto.RoleId == 2)
    {
        Layout = "_LayoutProfessor";
    }
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <p>Molimo vas odaberite željene mentore</a>.</p>
</div>

<div class="container h-100">
    <div class="row h-100 justify-content-between">
        <div class="col-md">
            <div class="card h-75">
                <div class="card-body h-100">
                    <h5 class="card-title">Ponuđeni mentori</h5>
                    <p class="card-text">Molimo vas odaberi točno <strong>pet</strong> mentora.</p>
                    <hr />
                    <div class="row overflow-auto" style="height:78%">
                        <ul class="list-group border-0">
                            @foreach (var professor in Model.ProfessorBasicInfoDtos)
                            {
                                <li class="list-group-item border-0">
                                    <a class="btn btn-secondary professor" id="@professor.Id" href="#">@professor.FirstName @professor.LastName</a>
                                    <footer class="blockquote-footer">@professor.AreaOfInterestOne, @professor.AreaOfInterestTwo, @professor.AreaOfInterestThree</footer>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card h-75">
                <div class="card-body h-100">
                    <h5 class="card-title">Odabrani mentori</h5>
                    <p class="card-text">Prije spremanja još jednom provjerite izbor, kasnije izmjene <strong>neće</strong> biti moguće.</p>
                    <hr />
                    <div class="row overflow-auto h-75">
                        <ul class="list-group border-0" id="odabir">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="container">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <table>
                <tr>
                    <td>
                        <h1>Profesori</h1>
                    </td>
                    <td>
                        <h1>Odabir</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="dvleft">
                            <ul id="lstproducts">
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div id="dvright">
                            <ul id="lstselectedproducts"></ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row mt-5 justify-content-center align-items-center text-center">
            <button type="button" class="btn btn-primary text-center w-50">Spremi odabir</button>
        </div>
    </div>*@

@section Scripts
    {

    <script>

    $(document).on("click", ".professor", function () {
        var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
        var val = 2;

        var items = "<li class='list-group-item border-0'>" + "<a class='btn btn-secondary professor' id='" + val + "' > patkica</a>" + "</li>"

            + " <footer class='blockquote-footer'>patka</footer>"

        console.log(items);

	    @*$.ajax({
		    url: '@Url.Action("GetProfessorsByCourse", "Users", new { id = @Model.UserHomeDto.Id})',
		    type: "GET",
		    success: function (resp) {
			    console.log(resp);
			    $.each(resp, function (idx, val) {
                    items += "<li class='list-group-item border-0'>" + "<a class='btn btn-secondary professor' id='" + val.id +"' > patkica</a>" + "</li>"
                              
                        + " <footer class='blockquote-footer'>patka</footer>"
				    console.log(val);
			    });
			    $("#lstproducts").html(items);
			    //setEvents();
		    },
		    error: function (err) {
			    alert("Error! " + err.status);
		    }
	    });*@

    </script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                loadProducts();

                //Function to set events for Drag-Drop
                function setEvents() {
                    var lstProducts = $('li');
                    //Set Drag on Each 'li' in the list
                    $.each(lstProducts, function (idx, val) {
                        $('li').on('dragstart', function (evt) {
                            evt.originalEvent.dataTransfer.setData("Text", evt.target.textContent);
                            evt.target.draggable = false;
                        });
                    });

                    //Set the Drop on the <div>
                    $("#dvright").on('drop', function (evt) {
                        evt.preventDefault();
                        var data = evt.originalEvent.dataTransfer.getData("Text");
                        var lst = $("#lstselectedproducts");
                        var li = "<li>" + data + "</li>";
                        li.textContent = data;
                        lst.append(li);
                    });

                    //The dragover
                    $("#dvright").on('dragover', function (evt) {
                        evt.preventDefault();
                    });
                }

                ///Function to load products using call to WEB API
                function loadProducts() {
                    var items = "";
                    $.ajax({
                        url: '@Url.Action("GetProfessorsByCourse", "Users", new { id = @Model.Id})',
                        type: "GET",
                        success: function (resp) {
                            console.log(resp);
                            $.each(resp, function (idx, val) {
                                items += "<li draggable='true'>" + val.firstName + ' ' + val.lastName + "</li>";
                            });
                            $("#lstproducts").html(items);
                            //setEvents();
                        },
                        error: function (err) {
                            alert("Error! " + err.status);
                        }
                    });
                };
            });
        </script>*@


}